.like-btn {
  cursor: pointer;
  transition: all 0.2s ease;
  color: #6c757d; /* text-secondary (Gri) */
}

.like-btn:hover{
  transform: scale(1.1);
}

.like-btn:hover,
.like-btn.liked {
  color: #0d6efd; /* text-primary (Mavi) */
}


.like-btn .bi-hand-thumbs-up-fill {
  display: none;
}
.like-btn .bi-hand-thumbs-up {
  display: inline-block;
}

.like-btn:hover .bi-hand-thumbs-up-fill,
.like-btn.liked .bi-hand-thumbs-up-fill {
  display: inline-block;
}

.like-btn:hover .bi-hand-thumbs-up,
.like-btn.liked .bi-hand-thumbs-up {
  display: none;
}